<a href="https://colab.research.google.com/github/wanny-arms/LetsUpgrade-Python-Essentials/blob/master/day3assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Question1:** You all are Pilots, you want to land a plane safely, so altitude required for landing a plane is
1000ft, it it is less than tell pilot to land the plane, or it is more than that but less than 5000ft ask
the pilot to “come down to 1000ft”, else if it more than 5000ft ask the pilot to “go around and try
later”
Example : Input - 1000
Output - Safe to Land
Example : Input - 4500
Output - Bring down to 1000
Example : Input - 6500
Output - Turn Around

In [5]:
num = int(input("Enter the value of altitude their you are now exist : "))

if num < 1000:
  print("Land the plane")
elif num <= 5000:
    print("Come down to 1000 ft.")
else:
      print("Go around and try later")

Enter the value of altitude their you are now exist : 109
Land the plane

**Question 2:**
Using for loop please print all the prime numbers between 1- 200 using FOR LOOP AND RANGE
function.
Output-
2,3,5,7…..

In [6]:
a = 1
b = 200
  
for i in range(a,b): 
    for j in range(2,i): 
        if(i % j==0): 
            break
    else: 
        print(i)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199